body {
    background-color:white;
    padding: 20px;
    margin: 0;
  }

.container {
  min-height: 95%;
  width: 97%;
  height: 95%;
  position: fixed;
  top: 10px;
  left: 20px;
}

  h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    text-align: left;
    background-color: #22577A;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    font-family: Century;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
  }
  .content {
    text-align: left;
    background-color: #22577A;
    padding: 5px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 5px;
  }
  h1 {
    font-family: Bradley Hand ITC;
    color: white;
    font-weight: bold;
    font-size: 40px;    
  }
  #mobileBox {
    background-color: #004e98;
    width: 325px;
    margin: 0 auto;
    border: 1px solid #ccc;
    text-align: center;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 80px;
}

.avatar div {
  float: right;
  margin-right: 12px;
}

.navbar img {
  width: 60px;
  height: 60px;
  margin-right: 30px;
  border-radius: 20px;
}

.avatar img {
  width: 60px;
  height: 60px;
  margin-top: 12px;
  margin-right: 190px;
  border-radius: 20px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr {
  background-color: #004e98;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #004e98;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #004e98;
}