body {
    background-color:white;
    padding: 20px;
    margin: 0;
  }
  h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    text-align: left;
    background-color: #22577A;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    font-family: Century;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
  }
  .content {
    text-align: left;
    background-color: #22577A;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  h1 {
    font-family: Bradley Hand ITC;
    color: white;
    font-weight: bold;
    font-size: 40px;    
  }
  #mobileBox {
    background-color: #003049;
    width: 600px;
    height: 900px;
    margin: 0 auto;
    border: 1px solid #ccc;
    text-align: center;
}