body {
    background-color:white;
    padding: 20px;
    margin: 0;
  }

.container {
  background-image: url('background.jpg');
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 20px;
  left: 20px;
}

  h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    text-align: left;
    background-color: #22577A;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    font-family: Century;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
  }
  .content {
    text-align: left;
    background-color: #22577A;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  h1 {
    font-family: Bradley Hand ITC;
    color: white;
    font-weight: bold;
    font-size: 40px;    
  }
  #mobileBox {
    background-color: #003049;
    width: 450px;
    height: 550px;
    margin: 0 auto;
    border: 1px solid #ccc;
    text-align: center;
    float: right;
    margin-right: 110px;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 120px;
}

.avatar div {
  float: right;
  margin-right: 12px;
}

.navbar img {
  width: 80px;
  height: 80px;
  margin-right: 60px;
  border-radius: 20px;
}

.avatar img {
  width: 80px;
  height: auto;
  margin-top: 13px;
  margin-right: 280px;
  border-radius: 20px;
}
